# Port on which the backend is listening
SERVER_PORT="3001"

# Cross Origin Resource Sharing Origin
# SERVER_CORS_ORIGIN="https://beergame.example.com" # only allow the domain "beergame.example.com"
SERVER_CORS_ORIGIN="*" # allow all domains (unsicher :D)

# Connection string for connecting to local or external database. Keep it secret!
MONGOOSE_CONNECTIONSTRING="mongodb://user:password@localhost:27017"